$black-color: #000;
$white-color: #fff;
$shadow-dark: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadow-light: 0 4px 8px 0 rgba(0, 0, 0, 0.19),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
$light-bg:#f2eeee;
$light-bg-2:#F8F8F8;
$text-primary-color:#26C6DA;
$specail-text-color:#FFA000;
$dark-text-color:#707070;
$dark-text-color-2:#696969;
$yellow-color:#FECD2F;
$pink-color:#CC58FF;
$seagreen-color:#00C6CE;
$ligh-blue:#1588D1;
$peach-color:#FF7777;
$yellow-color-2:#FFA143;