.sm-btn-white {
    background-color: $white-color;
    display: inline-flex;
    align-items: center;
    padding: 0.3rem 1.4rem;
    gap: 2rem;
    border-radius: 0.5rem;
    border: 2px solid #26C6DA;
    color: $dark-text-color-2;
    transition: all .4s;
    &:hover {
        background-color: #26C6DA;
        color: $white-color;
    }
}

.filter-sm-btn {
    background-color: $white-color;
    display: inline-block;
    padding: 1rem 1.6rem;
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 10rem $light-bg;
    color: $black-color;
    transition: all .2s;
    font-weight: 600;
    &:hover {
        background: rgba(255, 160, 0, 100);
        color: $white-color;
    }
}

.btn-md-primary {
    @include flex($justify: unset, $align: baseline);
    color: white;
    padding: 1rem 1rem;
    border-radius: 1.2rem;
    background: linear-gradient( 305deg, rgba(19, 146, 216, 1), rgba(38, 198, 218, 100%));
    display: inline-block;
    font-weight: light;
    font-size: 1.8rem;
    transition: all .3s ease;
    img {
        margin-left: 4rem;
        @media screen and(max-width: 768px) {
            margin-left: 1rem;
        }
    }
    &:hover {
        background: #005799;
        color: white;
    }
}

.btn-md-secondry {
    display: inline-block;
    width: 18rem;
    color: white;
    padding: 1rem 1rem;
    border-radius: 1.2rem;
    font-weight: light;
    text-align: center;
    border: 1px solid #F4F4F4;
    background: linear-gradient( 305deg, rgba(19, 146, 216, 1), rgba(38, 198, 218, 100%));
    &:hover {
        background: #005799;
        color: white;
    }
}

.btn-md-secondry-2 {
    display: inline-block;
    width: 18rem;
    color: #cccccc;
    padding: 1rem 1rem;
    border-radius: 1.2rem;
    font-weight: light;
    text-align: center;
    border: 1px solid #cccccc;
    &:hover {
        background: #005799;
        color: white;
    }
}

.btn-full-width {
    width: 100%;
    text-align: center;
    border-radius: 1.2rem;
    padding: .8rem;
    font-size: 1.8rem;
    font-weight: light;
    transition: all .3s ease;
    display: inline-block;
    color: white;
    background: linear-gradient( 305deg, rgba(19, 146, 216, 1), rgba(38, 198, 218, 100%));
    &:hover {
        background: #005799;
        color: white;
    }
}