.primary-color {
    color: #26C6DA;
}

.text-light-color {
    color: $dark-text-color;
}

.specail-color {
    color: $specail-text-color;
}

.margin-bottom-lg {
    margin-bottom: 10rem;
}

.text-md-bold {
    font-size: 2rem;
}

.text-sm {
    font-size: 1.9rem;
}

.BR {
    border-radius: 1rem;
}